body{
    background: linear-gradient(to right,rgb(3, 95, 216), rgb(135, 169, 227), rgb(3, 95, 216));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

input{
  	width: 85%;
	border-radius: 5px;
}

.img-logo{
  display: block;
	width : 150px;
	height : 150px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	box-shadow: 2px 2px 1px rgb(45, 45, 45);
}

.block-home{
  display: flex;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 15%;
  width: 40%;
}

.img-logo-home{
  display: block;
	width : 120px;
	height : 120px;
	border-radius: 100%;
	box-shadow: 2px 2px 1px rgb(45, 45, 45);
}

.titre-home{
  display: block;
  font-size: 50px;
  margin-left: 10%;
  color: whitesmoke;
}

nav{
  width: 100%;
  margin: 0px auto 40px auto;
  background-color: white;
  position: sticky;
  top: 0px;
}

nav ul{
  list-style-type: none;
}

nav li{
  float: left;
  width: 25%;
  text-align: center;
}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  display: block; 
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover{
  color: rgb(135, 169, 227);
  border-bottom: 2px solid rgb(3, 95, 216);
}


table{
    
    border-radius: 15px;
    font-size: medium;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    background-color: rgb(211, 208, 208);
    width: 20%;
    margin: 0 auto;
    empty-cells: show;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }
 
  tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
  tr.vert{
    background-color: #9F9;
  }
  
  th {
	background-color: rgb(255, 255, 255);
  }
      
  th, td {
    padding: 6px 10px;
  }
  
  body {
    margin: 0px;
    font-family: sans-serif; 
  }
  div {
    padding: 8px;
  }
  
  h1 {
    font-size:150%;
  }
  
  ul {
    margin: 0px;
  }
  
  .haut {
    border-bottom: 2px solid silver;
    padding: 0px;
    height: 90px;
  }
  
  .milieu {
    position:relative;
    height:auto;
    padding: 0px;
  }
  
  .bas {
    color: green;
    border: 3px solid magenta;
  }
  
  
  .hautCentre {
    padding: 0px;
    text-align: center;
    margin-left: 250px;
    font-size: 46px;
    padding-top: 20px;
    height: 70px; /* + le padding-top (20) + border rouge deux fois (4) = 90 */
  }
  
  .hautGauche {
    float: left;
    padding: 0px;
  }
  
  .menu {
    position:absolute;
    width:210px;
  }
  
  .contenu {
    position:absolute;
    left:220px;
    border-left: 2px solid silver;
  }
  
  .menu a {
    text-decoration: none;
    color: black;
  }
  
  .menu a:hover {
    color: red;
    font-weight: bold;
  }
  
  .menu li {
    list-style-type: none;
    padding: 6px;
    background-color: #DDD; /* gris */
    margin-bottom: 1px;
  }